@model IEnumerable<GestorEquipamentos.Models.ProdutoModel>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-danger btn-sm float-end">Cadastrar novo Produto</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
